body {
	background-color: #333;
	color: #eee;
	overflow: hidden;
}

.drag {
	color: black;
	height: 400px;
}

.users {
	background-color: #422;
	color: #fff;
	border-color: #aaa;
}

.users .topbar {
	border-color: #aaa;
}

.messages {
	background-color: #acf;	
}

#back {
	background-color: #f33;
	border: 1px #d99 solid;
	color: #222;
	border-radius: 2px;
	width: 80px;
	cursor: pointer;
	text-align: center;
}

#back:active {
	background-color: #d11;

}
