body {
	background-color: #333;
	color: #eee;
	overflow: hidden;
}

.small {
	font-size: 12px;
}

.drag {
	color: black;
	height: 400px;
}

.users {
	background-color: #452;
	color: #fff;
	border-color: #aaa;
}

.users .topbar {
	border-color: #aaa;
}

.messages {
	background-color: #acf;	
}

.aliases {
	background-color: #111;
	color: #fff;
	border-color: #aaa;
}

.aliases .topbar {
	border-color: #aaa;
}

#back {
	background-color: #f33;
	border: 1px #d99 solid;
	color: #222;
	border-radius: 2px;
	width: 80px;
	cursor: pointer;
	text-align: center;
}

#back:active {
	background-color: #d11;

}

#sendmessage {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#messagelist {
	bottom: 100px;
	height: 250px;
	overflow-y: auto;
	position: absolute;
}